<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <body>
    <%- include ('./partials/header') %>
    <main class="carrito-body">
      <a class="back-carrito" href="/"
        ><i class="fas fa-chevron-left"></i>Volver a la Tienda</a>

        <section class="producto-carrito">
          <div class="description-foto-carrito">
            <div class="descripcion-carrito">
              <h4>Fotografía a paisajes</h4>
              <p>Fotografía a paisajes en toda la Argentina y Brasil.</p>
              <p></p>
            </div>
            <div class="foto-producto-carrito">
              <img src="/images/imgP/1677534038520.jpg" />
            </div>
          </div>
          <div class="precio-cantidad-carrito">
            <div class="cantidad-carrito">
              <p>+</p>
              <div>1</div>
              <p>-</p>
              <i class="far fa-trash-alt"></i>
            </div>
            <p class="precio-carrito">$7.500,00</p>
          </div>
        </section>

      <section class="producto-carrito">
        <div class="description-foto-carrito">
          <div class="descripcion-carrito">
            <h4>Print Coquero</h4>
            <p>Impresión digital en papel fotográfico Kodak</p>
            <p>Dimensiones: A3 (29,7cm x 42cm)</p>
          </div>
          <div class="foto-producto-carrito">
            <img src="images/fotosCarrito/Foto1_Carrito.jpg" />
          </div>
        </div>
        <div class="precio-cantidad-carrito">
          <div class="cantidad-carrito">
            <p>+</p>
            <div>1</div>
            <p>-</p>
            <i class="far fa-trash-alt"></i>
          </div>
          <p class="precio-carrito">$7.000,00</p>
        </div>
      </section>
      <section class="producto-carrito">
        <div class="description-foto-carrito">
          <div class="descripcion-carrito">
            <h4>Enmarcado Retrato</h4>
            <p>Impresión digital en papel Hahnemuhle Rice Paper 100 g</p>
            <p>Dimensiones: 100cm x 70cm</p>
          </div>
          <div class="foto-producto-carrito">
            <img src="images/fotosCarrito/Foto2_Carrito.jpeg" />
          </div>
        </div>
        <div class="precio-cantidad-carrito">
          <div class="cantidad-carrito">
            <p>+</p>
            <div>1</div>
            <p>-</p>
            <i class="far fa-trash-alt"></i>
          </div>
          <p class="precio-carrito">$45.000,00</p>
        </div>
      </section>
      <section class="entrega-carrito">
        <h4>Entrega</h4>
        <div class="envio-carrito">
          <p>Ver todas las opciones de envío</p>
          <div>Calcular</div>
        </div>
      </section>
    </main>
    <%- include ('./partials/footer') %>
  </body>
</html>
