<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>

<body id="color-enconstruccion">

  <%- include ('./partials/header') %>

    <main>
      <br>
      <br>
      <br>           
      <section id="main-enconstruction">

          <figure id="figure-enconstruction">
            <img src="/images/icons/mujer.png" alt="">
          </figure>

          <article id="text-inconstruction">
            <h2> <%= VARRUTA %></h2>
            <H2>EN CONSTRUCCIÓN, </H2>     
            <h2>DISCULPE LAS MOLESTIAS</h2>     
          </article>
          
      </section>
       
 
    </main>
   

</body>
</html>