<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/header') %> <%- include ('./partials/header') %>

    <main class="mainCatalogo">
      <h2>Enmarcados</h2>

      <section>
        
        <article class="producto">
          <img src="/images/fotosCarrito/Foto2_Carrito.jpeg" alt="Imagen figurativa del producto" />
          <h3 >Retrato</h3>
          <p>Por Julian Freire. Marco de metal con ventana de passepartout. Impresión digital en papel Hahnemuhle Rice Paper 100g</p>
          <p>$20.000,00-$45.000,00</p>
          <div class="carritoProductos">
            <a href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </article>

        <article class="producto">
            <img src="/images/fotosEnmarcados/toa-heftiba.jpeg" alt="Imagen figurativa del producto" />
            <h3 >Torre</h3>
            <p>Por Toa Heftiba. Marco de madera pintado de negro con ventana de passepartout. Impresión analógica en papel Ilford</p>
            <p>$8.000,00-$16.000,00</p>
            <div class="carritoProductos">
              <a href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </article>

          <article class="producto">
            <img src="/images/fotosEnmarcados/soren-solkaer.jpeg" alt="Imagen figurativa del producto" />
            <h3 >Pintando legalmente</h3>
            <p>Por Soren Solkaer. Marco de acrílico blanco. Impresión digital en papel Hahnemuhle Rice Paper 100g</p>
            <p>$15.000,00-$30.000,00</p>
            <div class="carritoProductos">
              <a href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </article>

          <article class="producto">
            <img src="/images/fotosEnmarcados/lazaro-rodriguez.jpeg" alt="Imagen figurativa del producto" />
            <h3 >Respirar</h3>
            <p>Por Lazaro Rodriguez. Marco de acrílico negro con ventana de passepartout. Impresión analógica en papel Kodak</p>
            <p>$7.000,00-$18.000,00</p>
            <div class="carritoProductos">
              <a href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </article>

     
      </section>
    </main>

  <%- include ('./partials/footer') %>
  </body>
</html>
