<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/header') %>

    <main>
      <div class="Carousel">
        <figure>
          <img
            class="img1Home"
            src="/images/fotosCarouselHome/Foto1_Carousel.jpg"
          />
          <img
            class="img1HomeMobile"
            src="/images/fotosCarouselHome/Foto1_Carousel_mobile.jpg"
          />
        </figure>
      </div>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>
