<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/header') %> <%- include ('./partials/header') %>

    <main class="mainCatalogo">
      <h2>Prints</h2>

      <section>
        
        <article class="producto">
          <img src="/images/fotosCarrito/Foto1_Carrito.jpg" alt="Imagen figurativa del producto" />
          <h3 >Coquero</h3>
          <p>Por Carolina Menezes. Impresión digital en papel fotográfico Kodak</p>
          <p>$4.000,00-$8.000,00</p>
          <div class="carritoProductos">
            <a href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </article>

        <article class="producto">
            <img src="/images/fotosPrints/annie-spratt.jpeg" alt="Imagen figurativa del producto" />
            <h3 >Detalle</h3>
            <p>Por Annie Spratt. Impresión analógica en papel fotográfico Ilford</p>
            <p>$3.000,00-$7.000,00</p>
            <div class="carritoProductos">
              <a href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </article>

          <article class="producto">
            <img src="/images/fotosPrints/jana-shnipelson-fcbeSQ1Mh2w-unsplash.jpg" alt="Imagen figurativa del producto" />
            <h3 >Reflejo</h3>
            <p>Por Jana Shnipelson. Impresión digital en papel fotográfico Kodak</p>
            <p>$4.000,00-$8.000,00</p>
            <div class="carritoProductos">
              <a href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </article>

          <article class="producto">
            <img src="/images/fotosPrints/parham-qaheri.jpeg" alt="Imagen figurativa del producto" />
            <h3 >Grano</h3>
            <p>Por Parham Qaheri. Impresión analógica en papel fotográfico Ilford</p>
            <p>$5.000,00-$9.000,00</p>
            <div class="carritoProductos">
              <a href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </article>

     
      </section>
    </main>

  <%- include ('./partials/footer') %>
  </body>
</html>
